@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
html {
    overflow-x: hidden;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
img {
    border: none;
    display: block;
}
a {
    text-decoration: none;
    color: #8b8b8b;
    background: none;
}
a:hover {
    text-decoration: none;
}

.main {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 32px;
}
.main_left {
    width: 243px;
    float: left;
    margin-right: 31px;
    border-bottom: 5px solid #f7f7f7;
    background: #434343;
}
.main_left .title {
    height: 60px;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    padding-left: 35px;
    width: 208px;
    font-weight: bold;
}
.main_left ul li {
    line-height: 20px;
    color: #d7d7d7;
    position: relative;
    margin-bottom: 10px;
    /*border-bottom: 1px solid black;*/
}
.main_left ul li p {
    font-size: 11px;
    padding-top: 12px;
    padding-left: 36px;
    padding-bottom: 5px;
    float: left;
}
.main_left ul li span {
    color: #fff;
    font-size: 15px;
    display: block;
    padding-bottom: 5px;
}
.main_left ul li img {
    position: absolute;
    left: 160px;
    bottom: 10%;
}
.main_left ul li.bgN {
    background: none;
}
.main_left ul li a {
    color: #fff;
}
.main_left ul li a:hover {
    color: #ad8547;
}
.main_left ul li a.hover {
    color: #ad8547;
    font-size:14px;
}

.main_right1 ul {
    width: 706px;
}
.main_right1 ul li {
    width: 220px;
    border: 1px solid #f2efef;
    font-weight: bold;
    background: #fff;
    text-align: center;
    color: #333;
    font-size: 13px;
    height: 187px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.main_right1 ul li a {
    width: 220px;
    border: 1px solid #f2efef;
    font-weight: bold;
    background: #fff;
    text-align: center;
    color: #333;
    font-size: 13px;
    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
}
.main_right1 ul li a:hover {
    width: 220px;
    border: 1px solid #f2efef;
    font-weight: bold;
    background: #ad8547;
    text-align: center;
    color: #fff;
    font-size: 13px;
    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
}
.main_right1 ul li img {
    border-bottom: 1px solid #f2efef
}
.main_right1 ul li span {
    line-height: 47px;
    height: 47px;
}
.main_right ul li.marR0 {
    margin-right: 0px;
}